@{
    ViewBag.Title = "Spa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/kendo/2013.3.1119/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2013.3.1119/kendo.bootstrap.min.css" rel="stylesheet" />
<script src="@Url.Content("~/scripts/require.js")" data-main="/scripts/app/main"> </script>
<div id="app"></div>