@{
    Layout = "";
}


<style>
    dd {
        margin: 0px 0px 20px 0px;
    }
    
    label {
        font-size:small;
        font-weight:normal;
    }

    .signup {
        width: 80%;
        margin: 0 auto;
    }
    .signup .k-textbox, 
    .signup .k-widget {
        width: 100%;
    }
    
    .k-textbox{
        width: 100%
    }

    #product-edit-form {
        padding: 20px;
    }

    .header {
        text-align: center;
    }

    .k-info-colored {
        padding: 10px;
        margin: 10px;
    }
</style>    

    <div class="k-block" style="width: 600px; margin-top: 35px">
        <div class="k-block k-info-colored">
            <strong>Note: </strong>Please fill out all of the fields in this form.
        </div>
        <div id="product-edit-form">
            <dl>
                <dt>
                    <label for="productName">Product Name:</label></dt>
                <dd>
                    <span class="k-textbox k-space-right">
                        <input id="productName" type="text" data-bind="value: ProductName" />
                        <a href="#" data-field="ProductName" data-bind="click: clear" class="k-icon k-i-close">&nbsp;</a>
                    </span>
                </dd>
                <dt>
                    <label for="englishName">English Name:</label></dt>
                <dd>
                    <span class="k-textbox k-space-right">
                        <input id="englishName" type="text" data-bind="value: EnglishName" />
                        <a href="#" data-field="EnglishName" data-bind="click: clear" class="k-icon k-i-close">&nbsp;</a>
                    </span>
                </dd>
                <dt>
                    <label for="quanityPerUnit">Quanity Per Unit:</label></dt>
                <dd>
                    <span class="k-textbox k-space-right">
                        <input id="quanityPerUnit" type="text" data-bind="value: QuantityPerUnit" />
                        <a href="#" data-field="QuanityPerUnit" data-bind="click: clear" class="k-icon k-i-close">&nbsp;</a>
                    </span>
                </dd>
                <dt>
                    <label for="unitPrice">Unit Price:</label></dt>
                <dd>
                    <span class="k-textbox k-space-right">
                        <input id="unitPrice" type="text" data-bind="value: UnitPrice" />
                        <a href="#" data-field="UnitPrice" data-bind="click: clear" class="k-icon k-i-close">&nbsp;</a>
                    </span>
                </dd>
                <dt>
                    <label for="unitPrice">Unit In Stock:</label></dt>
                <dd>
                    <span class="k-textbox k-space-right">
                        <input id="unitsInStock" type="text" data-bind="value: UnitsInStock" />
                        <a href="#" data-field="UnitsInStock" data-bind="click: clear" class="k-icon k-i-close">&nbsp;</a>
                    </span>
                </dd>
                <dt>
                    <label for="unitsOnOrder">Unit On Order:</label></dt>
                <dd>
                    <span class="k-textbox k-space-right">
                        <input id="unitsOnOrder" type="text" data-bind="value: UnitsOnOrder" />
                        <a href="#" data-field="UnitsOnOrder" data-bind="click: clear" class="k-icon k-i-close">&nbsp;</a>
                    </span>
                </dd>
                <dt>
                    <label for="reorderLevel">Reorder Level:</label></dt>
                <dd>
                    <span class="k-textbox k-space-right">
                        <input id="reorderLevel" type="text" data-bind="value: ReorderLevel" />
                        <a href="#" data-field="ReorderLevel" data-bind="click: clear" class="k-icon k-i-close">&nbsp;</a>
                    </span>
                </dd>
                <dt>
                    <label for="discontinued">Discontinued:</label></dt>
                <dd>
                    <select id="discontinued" data-role="dropdownlist">
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                    </select>
                </dd>
                <dt>
                    <label for="recieved">Recieved:</label></dt>
                <dd>
                    <input data-role="datepicker" id="recieved">
                </dd>
            </dl>
            <a class="k-button" data-bind="click: saveProduct"><span class="k-icon k-i-tick"></span>Submit</a>
            <a class="k-button" data-bind="click: cancel"><span class="k-icon k-i-tick"></span>Cancel</a>
        </div>
    </div>


<script>
    var getProductId = function () { // parse for ProductId from url
        var array = window.location.href.split('/');
        var productId = array[array.length - 1];
        return productId;
    };

    var baseUrl = "/odata/Product";

    $(document).bind("viewSwtichedEvent", function (e, args) { // subscribe to viewSwitchedEvent
        if (args.name == "edit") { // check if this view was switched to
            var productModel = kendo.data.Model.define({ // we want to refresh this view anytime its switched to
                id: "ProductID",
                fields: {
                    ProductID: { type: "number", editable: false, nullable: true },
                    ProductName: { type: "string", validation: { required: true } },
                    EnglishName: { type: "string", validation: { required: true } },
                    UnitPrice: { type: "number", validation: { required: true, min: 1 } },
                    Discontinued: { type: "boolean" },
                    UnitsInStock: { type: "number", validation: { min: 0, required: true } }
                },
                saveProduct: function (s) {
                    s.preventDefault();
                    dataSource.sync();
                    },
                cancel: function (s) {
                    s.preventDefault();
                    window.location.href = '#/list';
                },
                clear: function (s) {
                    s.preventDefault();
                    // get the view model field associated with this input
                    this.set($(s.target).data("field"), null);
                }                
            });

            var dataSource = new kendo.data.DataSource({
                type: "odata",
                transport: {
                    read: {
                        url: function (data) {
                            return baseUrl + "(" + getProductId() + ")";
                        },
                        dataType: "json"
                    },
                    update: {
                        url: function (data) {
                            delete data.guid;
                            delete data["odata.metadata"];
                            return baseUrl + "(" + getProductId() + ")";
                        },
                        contentType: "application/json",
                        type: "PUT",
                        dataType: "json"
                    },
                    create: {
                        url: baseUrl,
                        dataType: "json"
                    },
                    destroy: {
                        url: function (data) {
                            return baseUrl + "(" + getProductId() + ")";
                        },
                        dataType: "json"
                    },
                    parameterMap: function (data, operation) {
                        

                        if (operation == "update") {
                            delete data.guid;
                            delete data["odata.metadata"];
                            data.UnitPrice = data.UnitPrice.toString();
                        }
                        return JSON.stringify(data);
                    }
                },
                sync: function (e) {
                    window.location.href = '#/list';
                },
                batch: false,
                schema: {
                    type: "json",
                    data: function (data) {
                        delete data["odata.metadata"];
                        return data.value;
                    },
                    total: function (data) {
                        return 1;
                    },
                    model: productModel
                }
            });
            dataSource.fetch(function () {
                if (dataSource.view().length > 0) {
                    
                    kendo.bind($("#product-edit-form"), dataSource.at(0));
                }
            });
        }
    });

</script>
